@tailwind base;

button:disabled {
  @apply opacity-70 cursor-not-allowed;
}

@tailwind components;

@tailwind utilities;

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

[type='checkbox']{
  @apply text-primary-600;
}

.custom-scroll {
  height: calc(100vh - 100px);
  overflow-y: auto; /* Enable vertical scrollbar */
}

.custom-scroll-attributes {
  height: 200px;
  overflow-y: auto; /* Enable vertical scrollbar */
}

.custom-map {
  height: calc(100vh - 80px);
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #e4dddd;
}

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

[type='number']:focus{
  @apply ring-offset-0 ring-0;
}

.marker-label {
  color: red;
}

/* Gallery CSS */

/* Gallery CSS Main Image */
.image-gallery-slide-wrapper {
  overflow: hidden; /* Ensure content doesn't overflow */
  border-radius: 4px; /* Maintain border radius on the wrapper */
}

.image-gallery-icon:hover{
  color: #009f52!important;
}

.image-gallery-index {
 background-color: white!important;
 color:gray!important;
 border-radius: 4px;
 margin: 10px;
}

.image-gallery-content.image-gallery-thumbnails-left .image-gallery-slide .image-gallery-image, .image-gallery-content.image-gallery-thumbnails-right .image-gallery-slide .image-gallery-image{
  border-radius: 4px;
}

/* Gallery CSS Thumbnail Images*/
.image-gallery-thumbnail {
  border-radius: 7px; /* Initial border-radius */
  overflow: hidden; /* Ensure content doesn't overflow */
}
.image-gallery-thumbnail:hover{
  border-color: #009f52!important;
  border-radius: 7px;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus{
  border-color: #009f52 !important;
  border-radius: 7px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image{
  border-radius: 4px;
}

