@tailwind base;

button:disabled {
  @apply opacity-70 cursor-not-allowed;
}

@tailwind components;

@tailwind utilities;

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Gallery CSS */

.image-gallery-icon:hover{
  color: #009f52!important;
}

.image-gallery-content.image-gallery-thumbnails-left .image-gallery-slide .image-gallery-image, .image-gallery-content.image-gallery-thumbnails-right .image-gallery-slide .image-gallery-image{
  border-radius: 4px;
}

.image-gallery-thumbnail:hover{
  border-color: #009f52!important;
  border-radius: 7px;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus{
  border-color: #009f52 !important;
  border-radius: 7px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image{
  border-radius: 4px;
}
